extends layout

block head
  include partials/roomhead

block content
  div.ratboard(ng-app="RatBoard", ng-controller="RatBoardController")
    div.message-box
        div.message(ng-repeat="message in messages")
          span.username {{ message.username }}
          span.message {{ message.content }}
    div.input-box
      form(ng-submit="sendMessage($event)")
        input(type="text", ng-model="input")
